---
layout: outer_ayakashi.njk
title: John Doe
description: "a character from Astaryuu's project Outrealm"
character-name: John Doe
character-color: fff
character-outline: 00000000
character-description: Lorem ipsum dolor sit ahmet.
container: 5col
---
<div class="textbox grid-colspan-3">
	<div class=textbox-inner>
		<img src="/assets/icons/{{ character-icon if character-icon else 'coming_soon'}}" width=40% style="float:right; margin: 2.5%; border-radius: 6px; border: 3px solid #fff;">
		<h1 style="text-shadow:
			1px 1px #{% if character-color %}{{ character-outline if character-outline else 'fff' }}{% else %}{{ character-outline if character-outline else '00000000' }}{% endif %},
			1px -1px #{% if character-color %}{{ character-outline if character-outline else 'fff' }}{% else %}{{ character-outline if character-outline else '00000000' }}{% endif %},
			-1px -1px #{% if character-color %}{{ character-outline if character-outline else 'fff' }}{% else %}{{ character-outline if character-outline else '00000000' }}{% endif %},
			-1px 1px #{% if character-color %}{{ character-outline if character-outline else 'fff' }}{% else %}{{ character-outline if character-outline else '00000000' }}{% endif %};
		color: #{{ character-color if character-color else 'fff'}};">{{ character-name if character-name else "John Doe"}}</h1>
		<p style="font-size: 0.8rem">an <a href="/ocs/or/">Outrealm</a> character</p>
		<p>{{ character-description if character-description else "Lorem ipsum dolor sit ahmet."}}</p>
	</div>
	<div class=textbox-links>
		<div class="textbox-link-first"><a href="/">home</a></div>
		<div class=textbox-link><a href="/arcadia">arcadia</a></div>
		<div class=textbox-link><a href="/lutera">lutera</a></div>
		<div class=textbox-link><a href="/conlang">conlang</a></div>
		<div class=textbox-link><a href="/ocs">ocs</a></div>
		<div class=textbox-link><a href="/devlog">devlog</a></div>
		<div class=textbox-link-last><a href="/whois">who is</a></div>
	</div>
</div>
{{ content | safe }}