:root {
  background: #222 url("https://hoard.astaryuu.cc/assets/background/chaos_angel.webp"); /*Replace with your own background image.*/
  background-size: cover;
	background-attachment: fixed;
  background-position:center;
}