:root {
  background: #222 url("/assets/background/chaos_angel.png"); /*Replace with your own background image.*/
  background-size: cover;
	background-attachment: fixed;
  background-position:center;
}