---
layout: outer_ayakashi.njk
title: Star Dragon's Den
description: the website of Astaryuu
container: 4col
---
<div class="textbox grid-colspan-4">
	<div class=textbox-inner>
		<h1>Star Dragon's Den: Characters</h1>
		<p>A list of characters I've made. Click the images to view profiles of them!</p>
	</div>
	<div class=textbox-links>
		<div class="textbox-link-first"><a href="/">home</a></div>
		<div class=textbox-link><a href="/arcadia">arcadia</a></div>
		<div class=textbox-link><a href="/lutera">lutera</a></div>
		<div class=textbox-link><a href="/conlang">conlang</a></div>
		<div class="textbox-link textbox-link-active"><a href="/ocs">ocs</a></div>
		<div class=textbox-link><a href="/devlog">devlog</a></div>
		<div class=textbox-link-last><a href="/whois">who is</a></div>
	</div>
</div>
{{ content | safe }}
