---
title: Star Dragon's Den
description: the website of Astaryuu
container: 1col
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Embed information - for Discord, Twitter, etc -->
    <meta name="description" content="the website of Astaryuu" />
    <meta property="og:site_name" content="Star Dragon's Den" />
    <meta property="og:title" content="{{ title if title else 'Star Dragon\'s Den' | safe }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description if description else 'the website of Astaryuu' | safe }}" />
    <!-- Image information -->
    <meta property="og:image" content="https://hoard.astaryuu.cc/astaryuu/images/astral_banner.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1680" />
    <meta property="og:image:height" content="1078" />
    <!-- Url -->
    <meta property="og:url" content="https://astaryuu.cc{{ page.url }}" />
    <meta property="twitter:card" content="https://hoard.astaryuu.cc/astaryuu/images/astral_banner.png" />
    <!-- FontAwesome -->
    <link href="https://hoard.astaryuu.cc/astaryuu/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="https://hoard.astaryuu.cc/astaryuu/fontawesome/css/regular.css" rel="stylesheet">
    <link href="https://hoard.astaryuu.cc/astaryuu/fontawesome/css/brands.css" rel="stylesheet">
    <!-- Links for site functionality and appearance -->
    <link rel="icon" type="image/png" href="https://hoard.astaryuu.cc/astaryuu/images/favicon.png">
    <link href="https://hoard.astaryuu.cc/astaryuu/css/ezgallery.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://unpkg.com/photoviewer@3.6.2/dist/photoviewer.css">
    <link href="https://hoard.astaryuu.cc/astaryuu/css/ayakashi.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://hoard.astaryuu.cc/astaryuu/css/arcadia.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
	<div class=container>
		<div class="content-{{ container if container else '1col' | safe }}">
			{{ content | safe }}
		</div>
		<div class=nav-container><div class=nav-inner>
			<div class=textbox>
				<div class=textbox-inner>
					<h3 style="padding: 0px 20px 0px;">Sitemap</h3>
					<nav>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/font/">Font</a></li>
							<li><a href="/arcadia/">Arcadia</a></li>
							<li><a href="/lutera/">Lutera</a></li>
							<li class="dropdown"><a href="/fan_aus/">AUs</a>
								<div class="dropdown-content">
									<ul>
										<li><a href="/fan_aus/deltarune/">Glitchrune</a></li>
										<li><a href="/fan_aus/splatoon/">Eternal Thunderstorm</a></li>
									</ul>
								</div>
							</li>
							<li><a href="/ocs/">OCs</a></li>
							<li><a href="/conlang/">Conlangs</a></li>
							<li><a href="/devlog/">Devlog</a></li>
							<li><a href="/whois/">Who is</a></li>
						</ul>
					</nav>
				</div>
			</div></div>
		</div>
		<div class=footer><div class=footer-inner>
			<p>
				<a href="https://eggramen.neocities.org/code/css/more/tglow">base by eggramen</a><br>
			</p>
		</div></div>
	</div>
  
  <script src="https://unpkg.com/photoviewer@3.6.2/dist/photoviewer.min.js"></script>
  <script src="https://hoard.astaryuu.cc/astaryuu/js/gallery.js"></script>
  <script src="https://hoard.astaryuu.cc/astaryuu/js/astralneko.js"></script>
  </body>
</html>